
.caixa{
	padding: 60px 0;
	border-bottom: 2px solid #e5e5e5;

}
.container-principal{
	background: url(../imagens/fundo1.jpg);
	background-size: cover;
	background-attachment: fixed;
	opacity: 0.8;
}
.titulo{
	color: #0040FF;
}

#home{
	
	color:white;
}



#barra-navegacao a{
	
	color: white;
	padding: 10px;
	border: 1px solid none;
	

}

#barra-navegacao a:hover{
	color:#fff;
	border: 1px solid #fff;
	border-radius: 10px;

}
#o-que-fazemos{
	text-align: center;

}
#o-que-fazemos a{
	text-decoration: none;
	color: #0040FF;
}
#o-que-fazemos a:hover{
	color: #0B0B61;
}
.card-o-que{
	color: orange;
}

footer a{
	padding: 10px;
	margin: 5px;
}

/*Teste para grids*/
.marcador{

	background:	#fe9d9d	;
	border: 1px solid red;
}

.marcador-container{

	background:#8A0808;
	border: 1px solid #36ae26;
	color: white;

}



.item{
	padding:5px;
	border: 1px solid white;
}